<div class="container main-container">
	<div class="col-lg-12 col-md-9 col-sm-12">
		<p>
			 Магазин <strong>exmample.com</strong> уделяет большое внимание сохранению конфиденциальности вашей информации при осуществлении покупок через Интернет. Мы прилагаем все усилия по защите информации, которую вы нам предоставляете. Пожалуйста, внимательно прочитайте следующий текст, чтобы получить соответствующую информацию относительно политики конфиденциальности личных данных нашей компании.
		</p>
		<h3>Какую мы собираем информацию</h3>
		<p>
			 Мы можем собирать и хранить всю информацию, которую вы вводите на нашем сайте или которую вы предоставляете нам любым другим способом. Это может быть информация, которая вас идентифицирует ("личные данные"), которая содержит ваши имя и фамилию, номер телефона, почтовый и электронный адрес (e-mail). Кроме того, в случаях покупки, мы сохраняем такие данные как номер вашей пластиковой карты, имя владельца карты и дата окончания срока действия карты. Вы можете отказаться от предоставления данных.
		</p>
		<p>
		</p>
		<h4>Автоматический сбор информации</h4>
		 Мы автоматически собираем некоторую информацию о вашем компьютере, когда вы посещаете <strong>exmample.com</strong>. Например, IP-адрес, данные браузера, которым вы пользуетесь (например Internet Explorer, Mozilla Firefox и др.) И ваши веб-запросы.
		<p>
		</p>
		<p>
		</p>
		<h4>Cookies и другая техническая информация</h4>
		 Каждый раз, когда вы посещаете <strong>exmample.com</strong>, мы отправляем на ваш компьютер один файл "cookie". Cookie это небольшой файл, который содержит строку символов и служит уникальным идентификатором вашего браузера, а также хранит данные для использования сайта на вашем жестком диске. Имейте в виду, что все данные, которые содержатся в файлах cookies, есть зашифрованными в целях безопасности. Вы всегда можете отказаться от получения файлов cookies от <strong>SHMOT.com.ua</strong>, однако в этом случае существует вероятность, что вы не сможете получить доступ к некоторым инструментов <strong>SHMOT.com.ua</strong> или не сможете успешно завершить вашу покупку.
		<p>
		</p>
		<h3>Защита информации</h3>
		<p>
			 Как было сказано ранее, защита ваших личных данных стоит на первом месте в приоритетах <strong>exmample.com</strong> и мы ручаемся за безопасность Ваших данных. Мы применяем самые технологии и процедуры, которые помогают защитить личные сведения от несанкционированного доступа, использования и разглашения. Например, только уполномоченные сотрудники могут иметь доступ к вашим личным данным. Кроме того, мы используем шифрование при передаче личных данных с вашего компьютера нашем и используем firewalls и системы обнаружения вторжений для предотвращения несанкционированного доступа к вашей информации.
		</p>
	</div>
</div>