<div class="container main-container">
	<div class="col-lg-12 col-md-9 col-sm-12">
		<p>
			 Эта соглашение является договором присоединения и заключается между администрацией <b>SHMOT.com.ua</b> (далее - Администрация), расположенного на доменном имени&nbsp;<b>SHMOT.com.ua&nbsp;</b>(далее - Сайт), и&nbsp;частным лицом - что, посетила страницы сайта и воспользовалась хотя бы одним из сервисов, предоставляемых в рамках сайта (далее - Пользователем), вместе (Стороны).
		</p>
		<p>
			 Пользовательское соглашение (далее - Соглашение) регулирует порядок использования ресурсов, сервисов, возможностей сайта, предоставленного Администрацией площадки для получения и ознакомления с информацией, размещенной на Сайте, в том числе путем загрузки интернет-страниц сайта.
		</p>
		<h4>1. Порядок заключения</h4>
		<ul>
			<li>1.1 Соглашение является договором присоединения в определении статьи 634 Гражданского кодекса Украины.</li>
			<li>1.2 Соглашение состоит Администрацией и опубликовывается путем размещения на Интернет странице по адресу shmot.com.ua</li>
			<li>1.3 Соглашение является публичной офертой и заключается лишь путем присоединения к нему Пользователем в целом. Факт присоединения Пользователя к данному Соглашению в целом подтверждается получением доступа и ознакомлением с информацией размещенной на Сайте.</li>
			<li>1.4 Лицо, обнаружила намерение заключить Соглашение, не может предложить свои условия договора.</li>
			<li>1.5 В случае несогласия с содержанием и формой Соглашения или отдельных его положений лицо, обнаруживает намерение заключить Соглашение, вправе отказаться от его заключения.</li>
			<li>1.6 Факт авторизации пользователя на Сайте Администрации (введение определенных уникальных идентификаторов Пользователя на странице регистрации и (или) любой странице входа), является полным и безоговорочным принятием условий Соглашения, а Пользователь, в соответствии с Гражданским кодексом Украины, рассматривается как лицо, вступившее с Администрацией в договорные отношения по договору присоединения.</li>
			<li>1.7 Соглашение действует с момента его заключения до расторжения Сторонами.</li>
		</ul>
		<h4>2. Порядок предоставления услуг</h4>
		<ul>
			<li>2.1 Пользователь с помощью соответствующих интернет-страниц сайта самостоятельно получает услуги Сайта.</li>
			<li>2.2 Пользователь понимает и соглашается с тем, что Администрация не несет ответственности за использование размещенной Администрацией на Сайте информации Пользователем или третьими лицами.</li>
			<li>2.3 Пользователь понимает и соглашается с тем, что Администрация не несет ответственности за посещение и использование внешних ресурсов, ссылки на которую могут содержаться на Сайте.</li>
			<li>2.4 Администрация не гарантирует достоверность, точность и объективность информации размещенной на Сайте, поскольку не осуществляет проверку материалов, размещенных Пользователями.</li>
			<li>2.5 Администрация не несет ответственности за результат использования или полезность предоставляемых услуг, а также за качество доступа к Сайту через сеть Интернет.</li>
			<li>2.6 Администрация не несет ответственности за возможные материальные и / или моральный ущерб, которые могут наступить в результате использования информации, размещенной на сайте.</li>
			<li>2.7 Пользователь согласен с тем, что все права интеллектуальной собственности (авторские права) на информацию, опубликованную Администрацией Сайта, а также на базу данных сайта, принадлежат исключительно и в полном объеме Администрации.</li>
			<li> 2.8 Пользователям запрещается копировать, распространять, размещать на других интернет-ресурсах или в средствах массовой информации любую информацию, размещенную на Сайте, или ее часть, базу данных сайта или ее часть, любые объекты прав интеллектуальной собственности (авторских прав). Все названия, наименования, торговые марки, символы и слоганы, зарегистрированные в установленном порядке, являются собственностью их законных владельцев. В материалах сайта не используются значки ® и / или ™ для их обозначения. Вопросы защиты интеллектуальной собственности Администрации на сайте и другое наполнение сайта регулируются законодательством Украины.</li>
			<li>2.9 Администрация не несет ответственности за прямой или косвенный ущерб, причиненный Пользователю в период пользования или при невозможности пользования Сайтом, в частности понесенный в результате ошибок, пропусков, перерывов в работе, удаления файлов, изменения функций, дефектов, задержек в работе при передаче данных, и т.п. событий, произошедших не по вине Администрации.</li>
			<li>2.10 Для выполнения своих обязательств по договору, Администрация требует от пользователя пройти процедуру предварительной регистрации на сервере Администрации, заключающийся в заполнении обязательных для ввода данных полей формы регистрации, расположенных на всех страницах сайта. При этом Администрация не несет ответственности за полноту и достоверность предоставленной Пользователем информации.</li>
			<li>2.11 При наличии у Пользователя претензий к объему и качеству услуг сайта, он должен немедленно (но в любом случае не позднее одного дня) известить об этом Администрацию сообщив при этом свои идентификационные данные, время возникновения претензий, а также обосновать их. Пользователь принимает к сведению, что Администрация может не иметь возможности проверить обоснованность претензии, выставленной более чем через сутки со дня ее возникновения. Администрация в течение пяти рабочих дней со дня получения претензии направляет Пользователю свое заключение по полученной претензии, и в том случае, если находит ее обоснованной, предлагает Пользователю способ компенсации причиненных неудобств.</li>
			<li>2.12 Комментарии материалов</li>
			<li>2.12.1 При написании комментариев Пользователь должен соблюдать установленные правила и ограничения.</li>
			<li>2.12.2 Незнание правил, в том числе и ограничений на размещение информации и использование ресурсов сайта, не освобождает пользователя сайта от их выполнения, а в случае их нарушения от ответственности в соответствии с настоящим Соглашением и законодательством Украины.</li>
			<li>2.12.3 На сайте запрещено:<br>
			<ul>
				<li>использование формы комментариев не по назначению (например, для объявлений купли-продажи);</li>
				<li>оскорбительное поведение по отношению к другим Пользователей, представителей Администрации;</li>
				<li>размещение нецензурных выражений;</li>
				<li>публикация сообщений с целью провоцирования резкой реакции других участников ресурса (троллинг);</li>
				<li>размещение несанкционированной рекламы, коммерческих сообщений или объявлений;</li>
				<li>размещение материалов, содержащих оскорбительные выражения, признаки дискриминации по национальному, этническому, расовой или религиозной принадлежности;</li>
				<li>несанкционированное размещение Пользователем материалов, авторские права на которые принадлежат третьим лицам;</li>
				<li>пропаганда компьютерного и аудио-видеопиратства в любой форме, публикация ссылок на файлы и / или сайты, непосредственно нарушают или способствуют нарушению авторских прав третьих лиц (торрент-трекеры, файлообменники, варез-сайты);</li>
				<li>создание учетных записей, в которых имя пользователя имитирует служебные имена (Администратор Модератор т.п.), или подобно имени уже зарегистрированного пользователя;</li>
				<li>использование в текстах сообщений заглавных букв, знаков препинания и специальных символов, кроме случаев, которые регламентированы правилами используемого языка;</li>
				<li>публикация призывов к насильственному изменению или свержению конституционного строя, захвату государственной власти; к изменению государственной границы Украины; к погромам, уничтожению имущества, захвату зданий или сооружений; к агрессии или к развязыванию военного конфликта; другие действия и публикация любых сообщений, запрещенных законодательством Украины;</li>
				<li>размещение сообщений (комментариев), которые повторяют полностью, частично или по смыслу и содержанию предыдущие сообщения (комментарии), в том числе и отдаленные Администрацией сайта на основании настоящего Соглашения.</li>
			</ul>
 </li>
			<li>2.12.4 На Сайте не приветствуется размещение сообщений (комментариев), лишенных информационной нагрузки и тех, которые не касаются тематики ресурса.</li>
		</ul>
		<h4>3. Обязанности пользователя</h4>
		<p>
			 С целью надлежащего выполнения условий Соглашения, Пользователь обязан:
		</p>
		<ul>
			<li>Корректно выполнить процедуру регистрации нового пользователя на Сайте.</li>
			<li>В случае изменения контактных данных и другой существенной информации, своевременно вносить изменения в регистрационную форму, а при невозможности, сообщить об этом Администрацию по электронной почте.</li>
			<li>Не раскрывать и не передавать третьим лицам свои идентификационные данные, по которым возможна авторизация пользователя на сервере Администрации.</li>
			<li>Соблюдать авторских прав Администрации и других лиц, не копировать и не передавать третьим лицам какую-либо существенную часть информационного наполнения сайта.</li>
			<li>Не использовать Сайт с целью, нарушающих авторское право третьих лиц.</li>
			<li>Самостоятельно ознакомиться с Соглашением, а также с возможными изменениями и дополнениями к нему. Самостоятельно обеспечивать техническую возможность пользования Сайтом со своей стороны, в том числе доступ к сети Интернет, наличие программного обеспечения, совместимого с передачей информации по протоколу http и других необходимых средств.</li>
			<li>Пользователь принимает на себя полную ответственность за сохранность идентификационных данных, обеспечивающих доступ к Сайту и за убытки, которые могут возникнуть в результате использования его доступа.</li>
		</ul>
		<p>
		</p>
		<h4>4. Обязанности Администрации</h4>
		<p>
			 С целью надлежащего выполнения условий Соглашения, Администрация обязуется:
		</p>
		<ul>
			<li>Предоставить Пользователю возможность пользования Сайтом в соответствии с условиями Соглашения.</li>
			<li>Сохранять конфиденциальность данных, предоставленных Пользователем, а также не передавать контактную информацию о нем третьим лицам, если таковая не находится в открытом доступе по желанию пользователя, и кроме как по решению суда или в ином предусмотренным законом порядке.</li>
			<li>Сообщать пользователя путем публикации на Сайте и (или) электронной рассылки сообщений существенные сведения, касающиеся условий Соглашения.</li>
		</ul>
		<p>
		</p>
		<h4>5. Прекращение и приостановление предоставления услуг Сайта</h4>
		<ul>
			<li>5.1 Администрация имеет право немедленно прекратить предоставление услугу сайта при нарушении Пользователем условий Соглашения.</li>
			<li>5.2 Администрация может приостановить доступ Пользователя как к Сайту в целом, так и к любой его части без предупреждения в случае, если Пользователь непосредственно вовлечен в действия, которые Администрация обоснованно считает нарушающими условия Соглашения.</li>
			<li>5.3 В случае несоответствия услуг сайта, потребностям пользователя, он может прекратить пользоваться им, при этом затраченные средства не возвращаются и не компенсируются каким-либо другим способом.</li>
		</ul>
		<h4>6. Изменение условий и прекращение действия Соглашения</h4>
		<ul>
			<li>6.1 Администрация имеет право изменять условия Соглашения и его приложений, вводить новые Приложения к Соглашению, публикуя уведомления о таких изменениях на Сайте не менее чем за семь дней до вступления изменений в силу.</li>
			<li>6.2 Пользователь несет бремя проверки наличия изменений Соглашения на Сайте.</li>
			<li>6.3 В случае принятия нормативно-правовых актов, касающихся целиком или в части функционирования сайта или условий Соглашения, Администрация сохраняет за собой право любых изменений в функционировании Сайта или изменений в условия Соглашения, направленных на приведение в соответствие с новыми нормами.</li>
		</ul>
		<h4>7. Урегулирование споров</h4>
		<ul>
			<li>7.1 Претензии Пользователя принимаются в письменном или электронном виде в срок не позднее 3 (трех) рабочих дней с момента возникновения инцидента.</li>
			<li>7.2 Претензии рассматриваются в десятидневный срок, причем Администрация вправе вступать в переписку с Пользователем с целью уточнения характера и причин претензий.</li>
			<li>7.3 Неполучение ответа на свой запрос в течение трех дней Администрация вправе расценить как отзыв претензии, в любом случае решение по каждой претензии должно быть принято в срок не более 10 (десяти) рабочих дней с даты последнего получения информации.</li>
			<li>7.4 Спорные вопросы, связанные с исполнением настоящего Договора, разрешаются путем переговоров между сторонами. В случае недостижения согласия спор решается в судебном порядке в соответствии с законодательством Украины.</li>
		</ul>
		<h4>8. Форс-мажорные обстоятельства</h4>
		<ul>
			<li>8.1 Администрация освобождается от ответственности за полное или частичное неисполнение обязательств по Соглашению, если такое невыполнение является следствием действия непреодолимой силы ("форс-мажор"), то есть чрезвычайных и неотвратимых Сторонами при данных обстоятельствах, в том числе массовых беспорядков, запретительных действий властей , стихийных бедствий, пожаров, катастроф и других обстоятельств непреодолимой силы, а также:
			<ul>
				<li>Перебоями в электропитании;</li>
				<li>Глобальными перебоями в работе украинских и международных сегментов сети Интернет;</li>
				<li>Сбоями систем маршрутизации;</li>
				<li>Сбоями в распределенной системе доменных имен;</li>
				<li>Сбоями, вызванными хакерскими и DOS- атаками, а также иными противоправными действиями третьих лиц.</li>
			</ul>
 </li>
			<li>8.2 Администрация обязуется, в том случае, если это технически осуществимо, по электронной почте и (или) путем публикации на главной странице сайта сообщить пользователя о существовании форс-мажорных обстоятельств в течение 7 (семи) дней после момента их наступления.</li>
			<li>8.3 Если наступление соответствующих форс-мажорных обстоятельств непосредственно повлияло на выполнение Администрацией обязательств в срок, установленный в Соглашении, этот срок соразмерно продлевается на время действия соответствующих обстоятельств.</li>
			<li>8.4 Если невозможность исполнения обязательств по договору будет длиться более 3 (трех) месяцев, Договор считается расторгнутым без возмещения убытков.</li>
		</ul>
		<h4>9. Дополнительные условия</h4>
		<ul>
			<li>9.1 Пользователь имеет право требовать от Администрации решение проблем с предоставлением услуг Сайта, возникших по вине Администрации, за исключением случаев, связанных с действием форс-мажорных обстоятельств.</li>
			<li>9.2 Администрация не сохраняет информацию о пользователе в виде, в котором лицо может быть конкретно идентифицировано в понимании Закона Украины «О защите персональных данных».</li>
			<li>9.3 Пользователь подтверждает и гарантирует, что любые персональные данные о любых физических лиц, которые были или будут переданы Пользователем Администрации в связи или во исполнение Соглашения, были получены и находятся в пользовании пользователя правомерно в соответствии с требованиями действующего законодательства Украины. Пользователь подтверждает и гарантирует, что он имеет все необходимые правовые основания для передачи вышеуказанных персональных данных Администрации для их дальнейшей обработки в целях выполнения Соглашения, без какого-либо ограничения срока и способом, в т.ч. для их использования и распространения, изменения, передачи или предоставления доступа к ним третьим лицам в случаях, предусмотренных действующим законодательством Украины, а также для передачи Администрацией персональных данных для обработки третьим лицам и осуществления по ним любых других действий, если это связано с выполнением Соглашения и / или с защитой прав Администрации условиями Соглашения, или если это необходимо для реализации Администрацией прав и обязанностей, предусмотренных законом. Пользователь подтверждает и гарантирует, что право пользователя на передачу Администрации вышеуказанных персональных данных ничем не ограничен и не нарушает права субъектов персональных данных и третьих лиц.</li>
		</ul>
		<p>
			 Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно принимает их. В случае, если пользователь не согласен с условиями соглашения, он обязуется покинуть сайт. 
		</p>
 				<br>
 			<br>
 		<br>
 	</div>
</div>