<br>
<br>
<br>
<br>
<br>
<footer id='footer'>
	<div id='background'>
		<div class='container'>
			<div class='col-lg-3 col-md-3 col-sm-6'>
				<div class='column'>
					<ul>
						<li><div class='footer_title'>Info</div></li>


									                    
							<li><a href='/policy'>Privacy Policy</a></li>
              <li><a href='/agreement'>User Agreement</a></li>
              <li><a href='/about'>About us</a></li>



					</ul>
				</div>
			</div>

			<div class='col-lg-3 col-md-3 col-sm-6'>
				<div class='column'>
					<ul>

						<li><div class='footer_title'>Customer Service</div></li>
						<li><a>Телефон: Your phone number</a></li>
						<li><a href='mailto:example@gmail.com'>Email: example@gmail.com</a></li>

					</ul>
				</div>
			</div>

			<div class='col-lg-3 col-md-3 col-sm-6'>
				<div class='column'>
					<ul class='social'>
						<li><div class='footer_title'>Social Networks</div></li>

							<li><a href='/' target='_blank'>Vk</a></li>

					</ul>
				</div>
			</div>
		</div>
	</div>
	<br>

	<div class=" copyright">
		Copyright © 2016 by TiraLab SRL
	</div>

</footer>
